@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

.home-container {
	padding: 0 20px;
}

@media screen and (min-width: 768px) {
	.home-container {
		padding: 0 100px;
	}
}

.first-gallery img{
	width: 100%;
	max-width: 1000px;
}

/* .first-gallery .mobile-gallery img{
	width: 100%;
	max-width: 500px;
} */

.first-gallery{
	text-align: center;
}

.mobile-gallery {
	display: initial;
}

.desktop-gallery {
	margin-top: 40px;
	display: none;
}

@media only screen and (min-width: 770px) {
	.mobile-gallery {
		display: none;
	}
	.desktop-gallery {
		display: initial;
	}
}

.home-container .title .title-header {
	margin: 20px 0;
	font-size: 36px;
}

.home-container .title .title-p {
	color: #222;
	font-size: 16px;
	font-weight: 300;
	line-height: 110%;
	letter-spacing: 1px;
	width: 80%;
	max-width: 400px;
}

@media only screen and (min-width: 770px) {
	.home-container .title .title-header {
		font-size: 60px;
	}
	
	.home-container .title .title-p {
		font-size: 18px;
	}
}

