@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

.home-container .first-gallery img{
	width: 60%;
}

.home-container .first-gallery .mobile-gallery img{
	width: 100%;
}

.home-container .first-gallery{
	text-align: center;
	margin-top: 40px;
}

.mobile-gallery {
	display: initial;
}

.desktop-gallery {
	display: none;
}

@media only screen and (min-width: 770px) {
	.mobile-gallery {
		display: none;
	}
	.desktop-gallery {
		display: initial;
	}
}

.home-container .title .title-header {
	margin: 20px 0;
	font-size: 36px;
}

.home-container .title .title-p {
	color: #222;
	font-size: 16px;
	font-weight: 300;
	line-height: 110%;
	letter-spacing: 1px;
	width: 70%;
}

@media only screen and (min-width: 770px) {
	.home-container .title .title-header {
		font-size: 60px;
	}
	
	.home-container .title .title-p {
		font-size: 18px;
	}
}