.gallery-item {
	transition: 1s linear;
}

.show {
	opacity: 1;
}

.hide {
	opacity: 0;
}

.first-gallery .mobile-gallery .img {
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 500px;
}